*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header start here */
main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.header{
    width: 80%;
    display: flex;
    height: 500px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background: rgb(23, 23, 23); 
}
.banner-part-1{
    font-family: sans-serif;
    width: 40%;
    text-align: left;
    color: white;
    background: rgb(23, 23, 23);
}

.banner-part-1 h2{
    font-size: 50px;
}
.banner-part-1 a{
text-decoration: none;
color: white;
font-family: 20px;
background: red;
padding: 10px;
border-radius: 5px;

}
.fa-angle-right{
padding: 0 5px; 
} 
.banner-part-1 a .fa-angle-right{
    margin-top: 20px;
}
.banner-part-1 p{
    margin: 20px 0;
    color: rgb(221, 216, 216);
}


.banner-part-2{
    width: 40%;
    
}
.banner-part-2 img{
    background: rgb(23, 23, 23);
    width: 100%;
    margin-top: 48px;
}
/* header end here */





  /* nav&article section start here */
section{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 100px;
 }  


 .section{
    display: flex;
    justify-content: center;
    width: 80%;
}

nav{
    width: 33%;
    background: #000;
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

li a{
    color: black;
    text-decoration: none;
}
li{
    font-size: 18px;
    padding: 10px;
    background: whitesmoke;
    list-style: none;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    width: 150px;
}
.red{
    background: red;;
}
/* nav end here */



article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;  
}
.flag{
    padding-top: 40px;
    padding: 40px 30px 0 30px;
    display: flex;
    justify-content: center;
}
.flag span{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 20px 0 20px;
}
article .blog-image{
    width: 40%;
}
.Blog{
    margin-left: 20px;
    width: 95%;
    background: rgb(242, 237, 237);
    border-radius: 10px;
}
.Blog p{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.Blog small{
    display: block;
    padding-top: 20px;
    text-align: center;
}


/* nav&article section end here */




/* extra section */
.extra{
    display: none;
    margin-top: 80px;
}
.extra a{
    text-decoration: none;
    color: white;
    background: red;
    padding: 10px;
}
/* extra section */




/* footer start here */

footer{
    margin-top: 100px;
    width: 100%;
    background: rgb(30, 29, 29);
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}

.footer-head h2{
    padding-top: 50px;
    text-align: center;
    color: whitesmoke;
}
hr{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    opacity: .3;
}
.footer-link{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.footer-link a{
    text-decoration: none;
    color: wheat;
    margin: 20px;
}

.icon{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .icon i{
      margin: 20px;
      font-size: 50px;
      color: whitesmoke;
  }


/* media query start here */

@media screen and (max-width:576px) {
    .header{
        flex-direction: column;
    }
    .banner-part-1 h2{
        font-size: 25px;
    }

    .banner-part-1{
        text-align: center;
        width: 100%;
        padding-top: 100px;
    }
    .banner-part-2{
        width: 100%;
    }
    
    .section{
        flex-direction: column;
    }
    nav{
        background: none;
        display: grid;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
   article{
    grid-template-columns: repeat(1, 1fr);
   }
   .footer-link{
    text-align: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
   }
   
}




/* media query tablet screen start here */
@media screen and (min-width:577px) and (max-width:900px) {
    
    .div1 h2{
        font-size: 20px;
    }

    .div1{
        margin-top: 20px;
    }
    
    .section{
        flex-direction: column;
    }
    nav{
        background: none;
        display: flex;
        width: 100%;
        margin-bottom: 50px;
    }
    nav li{
        margin: 20px;
    }
    nav .red{
        background: yellow;
    }
   article{
    grid-template-columns: repeat(2, 1fr);
   }
   .footer-link{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
   
   }
   .extra{
    display: block;
    display: flex;
    justify-content: center;
   }
}
/* media query tablet screen start here */
